@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #ce9b9b;
}

#column-2 {
  background: #bb6d6d;
}

#column-3 {
  background: #ce5858;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #d4cfbd;
  }

  .col-3 {
    width: 50%;
  }

  #column-1 {
    background-color: #cec08f;
  }

  #column-2 {
    background-color: #d4bf74;
  }

  #column-3 {
    background-color: #dabb4e;
    width: 100%;
  }

  footer {
    background-color: #dbb116;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #c2c7ce;
  }

  .col-3 {
    width: 33.3%;
  }

  #column-1 {
    background-color: #96adce;
  }

  #column-2 {
    background-color: #6390ce;
  }

  #column-3 {
    background-color: #3673c9;
    width: 33.3%;
  }

  footer {
    background-color: #0b57c0;
  }
   
}
